[program:scheduler-crawler]
directory={{ proxy.destDir }}
command={{ virtualenv }}/bin/python scheduler_booter.py --usage crawler common ajax
autostart=true
autorestart=true
startretries=1
startsecs=1
redirect_stderr=true
stderr_logfile=/data/ms/logs/supervisor/proxy-scheduler-crawler-err.log
stdout_logfile=/data/ms/logs/supervisor/proxy-scheduler-crawler-out.log
user={{ ansible_user }}
killasgroup=true
stopasgroup=true
environment={{ supervisor.environment }}

[program:crawler-crawler]
directory={{ proxy.destDir }}
command={{ virtualenv }}/bin/python crawler_booter.py --usage crawler common ajax
autostart=true
autorestart=true
startretries=1
startsecs=1
redirect_stderr=true
stderr_logfile=/data/ms/logs/supervisor/proxy-crawler-crawler-err.log
stdout_logfile=/data/ms/logs/supervisor/proxy-crawler-crawler-out.log
user={{ ansible_user }}
killasgroup=true
stopasgroup=true
environment={{ supervisor.environment }}

[program:scheduler-validator]
directory={{ proxy.destDir }}
command={{ virtualenv }}/bin/python scheduler_booter.py --usage validator
autostart=true
autorestart=true
startretries=1
startsecs=1
redirect_stderr=true
stderr_logfile=/data/ms/logs/supervisor/proxy-scheduler-validator-err.log
stdout_logfile=/data/ms/logs/supervisor/proxy-scheduler-validator-out.log
user={{ ansible_user }}
killasgroup=true
stopasgroup=true
environment={{ supervisor.environment }}

[program:crawler-validator]
directory={{ proxy.destDir }}
command={{ virtualenv }}/bin/python crawler_booter.py --usage validator
autostart=true
autorestart=true
startretries=1
startsecs=1
redirect_stderr=true
stderr_logfile=/data/ms/logs/supervisor/proxy-crawler-validator-err.log
stdout_logfile=/data/ms/logs/supervisor/proxy-crawler-validator-out.log
user={{ ansible_user }}
killasgroup=true
stopasgroup=true
environment={{ supervisor.environment }}

[group:proxy]
programs=scheduler-crawler,crawler-crawler,scheduler-validator,crawler-validator

